name: Build Plugin

on:
  push:
    branches: [ "main", "master" ]
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: maven

      - name: Build
        run: mvn clean package

      - name: Upload jar
        uses: actions/upload-artifact@v4
        with:
          name: RayTraceAntiXray
          path: "**/*.jar"
